<header>
  <h1>Angular Redux Apollo Example</h1>

  <p>
    Demonstrates the integration of the Apollo client store with an existing
    Redux store.
  </p>
  <p class="highlight">
    Use <a href="https://github.com/gaearon/redux-devtools">Redux DevTools</a>
    to inspect the current store state!
  </p>
  <button (click)=reload()>Reload</button>
</header>
<div class="flexbox-container">
  <nav class="sidebar">
    <p>Local state from angular-redux store:</p>
    <app-elephant-list></app-elephant-list>
    <app-lion-list></app-lion-list>
  </nav>
  <article class="main">
    <app-cities-list></app-cities-list>
  </article>
</div>
